.carousel-img {
  height: 522px;
  width: 522px;
}

.carousel-caption {
  text-shadow: 0.5px 0.5px grey;
}

.carousel-caption h5 {
  font-size: 3rem;
}

.carousel-caption p {
  font-size: 1.25rem;
}

.card {
  border-radius: 10px;
}

.card img {
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

@media (max-width: 768px) {
  .carousel-caption p {
    font-size: 1rem;
  }
  .carousel-caption h5 {
    font-size: 1.25rem;
  }
}
